%heading{
  font-family: $font-display;
  font-weight: 400;
}

.heading-1{
  @extend %heading;
  font-size: 4rem;
  color: $color-white;
  text-transform: capitalize;

}
.heading-2{
  @extend %heading;
  text-transform: uppercase;
  color: $color-primary;
  font-size: 1.5rem;
}
.heading-3{
  @extend %heading;
  font-size: 1.8rem;
  color: $color-grey-dark-1;

}
.heading-4{
  @extend %heading;
  text-transform: capitalize;
  font-size: 2rem;
  &--light{
    color: $color-white;
  }
}

.btn{
  padding: 1.5rem 3rem;
  background-color: $color-primary;
  border: none;
  color: $color-white;
  font-size: 1.5rem;
  text-transform: uppercase;
}
